body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------- root variables ---------- */
:root {
  --beige: #fbf8f3;
  --dark-beige: #d0cdbe;
  --dark-brown: #786745;
  --green: #68a064;
  --light-grey: #e3e5e6;
  --green-opacity: rgba(38, 76, ;89, 0.2);
  --light-green: rgb(172, 198, 201);
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --white: #fff;
  --font-family: Yeseva-regular-400;
}

/* =========== FONT FACES =========== */
@font-face {
  font-family: "Yeseva";
  src: url("./fonts/Yeseva-regular-400.zip");
  font-weight: 400;
}

/* ---------- general styling ---------- */
html,
body {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: var(--beige);
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.5em;
  color: var(--green);
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1.4px;
  margin: 0.2em 0;
  color: var(--dark-brown);
}

h3 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 0.2em;
  color: var(--dark-beige);
}

a {
  color: var(--green);
}

p {
  margin: 0;
}
/* -------------------- */

/* ---------- nav styling ---------- */
nav {
  background-color: var(--dark-beige);
  top: 0;
  padding: 15px;
}

.nav-menu {
  transform: translateY(100%);
  right: 0;
  display: none;
  transition: ease-in 0.5s;
}

.nav-active {
  display: block;
  transform: translateY(0);
}

nav a {
  display: flex;
  justify-content: center;
  color: var(--beige);
  padding: 40px 0 30px 0;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}

nav a:hover {
  color: var(--green);
}

nav a.active {
  color: var(--green);
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

@media only screen and (min-width: 700px) {
  nav a {
    display: inline-block;
    padding: 15px;
  }

  nav {
    text-align: right;
    padding-right: 40px;
    height: 7vh;
  }

  .nav-menu {
    display: block;
    transform: translateY(0);
  }

  .hamburger {
    display: none;
  }
}
/* -------------------- */

/* --------- Styling of banner ----------- */
.banner-container {
  position: relative;
  text-align: center;
  color: black;
}

.banner-image {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.banner-header {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner-image-button {
  position: relative;
  border-radius: 15px;
  padding: 5px 18px 5px 18px;
  font-size: 1.2em;
  margin: 20px 0 5px 0;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.banner-image-button:hover {
  color: var(--green);
}

.banner-text-container {
  margin: 25px 18px 20px 18px;
}
/* -------------------- */

/* ---------- Styling of busswords ---------- */
.bussword-section {
  background-color: var(--dark-beige);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bussword-text {
  padding: 35px;
  color: var(--dark-brown);
}

.busswords:before {
  content: "";
  animation: animate infinite 6s;
}

@keyframes animate {
  0% {
    content: "Web design";
  }

  33.3% {
    content: "User Experience";
  }

  66.6% {
    content: "User interfaces";
  }

  99.9% {
    content: "Web development";
  }
}

@media only screen and (min-width: 900px) {
  .banner-header {
    font-size: 3.5em;
    position: absolute;
    top: 24%;
    right: 5%;
    width: 40%;
    line-height: 1.2em;
  }

  .banner-text-container {
    padding: 20px;
  }

  .banner-text {
    font-size: 1.1em;
  }

  .bussword-text {
    font-size: 1.1em;
    padding: 22px;
  }
}
/* -------------------- */

/* ---------- grid container styling of projectposts ---------- */
.projects-header {
  margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  margin: 2em 4em 2em 4em;
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 2em 1.5em 2em 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.grid-container > article img {
  width: 150px;
  object-fit: cover;
}

.grid-container > article ::first-letter {
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-container > article img {
    width: 200px;
  }
}
/* -------------------- */

/* ---------- Contact styling ---------- */
.contact-text {
  margin-top: 40px;
  text-align: center;
}

.contact-header {
  font-size: 1.5em;
  margin-top: 25px;
}

.container {
  display: flex;
  justify-content: center;
  height: 400px;
}

/* Contactform styling  */
.form-group {
  margin: 10px;
}

input {
  display: block;
  width: 350px;
  height: 28px;
  border: 1px solid var(--dark-beige);
  padding: 5px;
}

textarea {
  display: block;
  width: 350px;
  height: 80px;
  border: 1px solid var(--dark-beige);
  padding: 5px;
}

.btn-primary {
  width: 360px;
  height: 40px;
  text-transform: uppercase;
  background-color: var(--dark-beige);
  color: white;
  border: none;
  margin-left: 10px;
}

@media (min-width: 600px) {
  .contact-text {
    margin-top: 70px;
    font-size: 1.3em;
  }

  .contact-header {
    font-size: 1.8em;
    margin-top: 30px;
  }
}

@media (min-width: 900px) {
  .flex-contact-formular {
    display: flex;
    flex-direction: row;
  }

  input {
    width: 450px;
  }
  textarea {
    width: 930px;
    height: 80px;
  }

  .btn-primary {
    width: 942px;
    height: 40px;
    margin-top: 15px;
  }
}
/* -------------------- */

/* ---------- Styling af hardskills sektion ---------- */
.skills-section {
  margin-top: 6em;
  margin-bottom: 6em;
}

.sub-header {
  text-align: center;
  margin-bottom: 1em;
  margin-left: 18px;
  margin-right: 18px;
}

.skills-section-subheader {
  text-align: center;
  line-height: 1.3em;
  margin-bottom: 3em;
  margin-left: 18px;
  margin-right: 18px;
}

.flex-text {
  float: left;
  padding-left: 20px;
  align-items: center;
}

.skills-icons {
  width: 70px;
}

.eachskillscontainer {
  display: flex;
  flex-flow: row;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  height: 120px;
  max-width: 600px;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .eachskillscontainer {
    justify-content: left;
  }
}
/* -------------------- */

/* ---------- About me section ---------- */
.aboutme-image {
  width: 100%;
  margin-bottom: 2em;
}

.aboutme-article {
  margin: 3em;
}

section > article > p {
  line-height: 1.8rem;
}

@media (min-width: 600px) {
  .aboutme-image {
    width: 400px;
    float: left;
    margin-right: 3em;
  }
}
/* -------------------- */

/* ---------- Soft skills section ---------- */
.projects-header {
  margin-top: 30px;
}

.soft-skills-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  margin: 2em 4em 2em 4em;
}

.soft-skills-grid-container > article {
  text-align: center;
  padding: 2em 1.5em 2em 1.5em;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.soft-skills-grid-container > article img {
  width: 70px;
}

.soft-skills-grid-container > article ::first-letter {
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .soft-skills-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .soft-skills-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .soft-skills-grid-container > article {
    padding: 4em 1.5em 4em 1.5em;
  }

  .soft-skills-grid-container > article img {
    width: 90px;
  }
}
/* -------------------- */

/* ---------- ProjectsPage styling ---------- */
.projectpage-header {
  margin-left: 18px;
  margin-bottom: 0.7em;
}

.projectpage-subheader {
  line-height: 1.3em;
  margin-bottom: 3em;
  margin-left: 18px;
  margin-right: 18px;
}

.project-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.project-flex-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-text-container {
  background-color: var(--green);
  width: 230px;
  height: 230px;
  line-height: 1.5em;
  padding: 20px;
}

.macbook_iphone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.macbook {
  width: 230px;
}

.iphone {
  width: 180px;
}

@media (min-width: 600px) {
  .sub-header  {
    text-align: left;
  }

  .projectpage-subheader {
    text-align: left;
    width: 60%;
  }
  .project-flex-container {
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 100px 200px 100px;
  }

  .project-flex-container2 {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 20px 100px 70px 100px;
  }

  .project-text-container {
    width: 450px;
    height: 310px;
  }

  .macbook_iphone-container {
    display: flex;
    flex-direction: row;
  }

  .macbook {
    width: 370px;
  }

  .iphone {
    width: 230px;
  }
}
/* -------------------- */

/* ---------- Footer styling ---------- */
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-color: var(--dark-beige);
}

.footer-text {
  color: var(--dark-brown);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.contactinfo-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.contact-icons {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.some-icons-container {
  display: flex;
  justify-content: center;
}

.some-icons {
  width: 25px;
  padding: 0 7px 0 7px;
  margin-top: 20px;
}

@media (min-width: 600px) {
  .footer-text {
    font-size: 1.2rem;
  }
}
/* -------------------- */
