body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------- root variables ---------- */
:root {
  --white: #ffffff;
  --beige: #f9f8f6;
  --dark-beige: #d0cdc6;
  --dark-brown: #423431;
  --darkgreen: #166646;
}

/* =========== FONT FACES =========== */
@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("./fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("./fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("./fonts/Raleway-ExtraBold.ttf");
}

/* ---------- general styling ---------- */
html,
body {
  font-family: Raleway-regular;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: var(--white);
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-family: Raleway-ExtraBold;
  color: var(--dark-brown);
}

h2 {
  font-size: 1.6em;
  letter-spacing: 1.4px;
  margin: 0.2em 0;
  font-family: "Raleway-SemiBold";
  color: var(--dark-brown);
}

h3 {
  font-size: 1em;
  line-height: 1.8em;
  letter-spacing: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 0.3em 0;
}

a {
  color: var(--green);
  font-family: Raleway-SemiBold;
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 2.5em;
  }
}

/* -------------------- */

/* ---------- nav styling ---------- */
.Navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkgreen);
}

.nav-logo {
  width: 70px;
  margin-left: 15px;
}

.Navbar > .nav-items > a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin: 36px;
  position: relative;
  text-transform: uppercase;
}

.Navbar > .nav-items > a:hover {
  opacity: 1;
  cursor: pointer;
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.45s;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}

.Navbar > .nav-toggle {
  display: none;
}

@media (max-width: 700px) {
  .Navbar > .nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background-color: var(--darkgreen);
    left: 0;
    width: 100%;
    height: 39vh;
    transform: translateX(-100%);
    transition: all 0.45s;
    text-align: center;
  }

  .Navbar > .nav-items > a::before {
    background-color: transparent;
  }

  .Navbar > .nav-items.open {
    transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background-color: #fff;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    left: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background-color: transparent;
  }

  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    width: 32px;
    transform: rotate(-45deg) translate(26px, 26px);
  }
}

/* -------------------- */

/* --------- Styling of banner ----------- */
.banner-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bannerimage {
  width: 100%;
}

.banner-header {
  text-transform: uppercase;
  margin-bottom: 1em;
}

.banner-image-button {
  position: relative;
  font-size: 1.2em;
  margin: 2em 0 0.5em 0;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--darkgreen);
  font-weight: 600;
}

.banner-image-button:hover {
  color: var(--dark-brown);
}

.banner-text-container {
  margin: 0 2em 1.5em 2em;
}

/*  Styling of busswords  */
.bussword-section {
  background-color: var(--dark-beige);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.bussword-text {
  padding: 1.5em;
  color: var(--dark-brown);
  font-size: 0.8em;
}

.busswords:before {
  content: "";
  animation: animate infinite 6s;
}

@keyframes animate {
  0% {
    content: "Web design";
  }

  33.3% {
    content: "User Experience";
  }

  66.6% {
    content: "User interfaces";
  }

  99.9% {
    content: "Web development";
  }
}

@media only screen and (min-width: 800px) {
  .banner-container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
  }

  .bannerimage {
    width: 300px;
    margin: 2em 0 1em 2em;
  }

  .banner-text {
    font-size: 1.1em;
  }

  .bussword-section {
    padding: 0;
  }

  .bussword-text {
    font-size: 1.1em;
    padding: 3em;
  }
}

@media only screen and (min-width: 900px) {
  .bannerimage {
    width: 600px;
    margin: 2em 0 1em 2em;
  }
}

/* -------------------- */

/* ---------- grid container styling of projectposts ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  margin: 2em 4em 2em 4em;
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 2em 1.5em 2em 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.grid-container > article img {
  width: 150px;
  object-fit: cover;
}

.grid-container > article ::first-letter {
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-container > article img {
    width: 200px;
  }
}
/* -------------------- */

/* ---------- Contact styling ---------- */
.contactpage {
  margin: 1.5em 2em 0 2em;
}

.contact-text {
  text-align: center;
}

.contact-formular-container {
  display: flex;
  justify-content: center;
  height: 500px;
}

/* Contactform styling  */
.row {
  margin: 2em;
}

.form-group {
  margin: 1em;
}

input {
  display: block;
  width: 270px;
  height: 28px;
  border: 1px solid var(--dark-beige);
  padding: 0.5em;
}

textarea {
  display: block;
  width: 270px;
  height: 80px;
  border: 1px solid var(--dark-beige);
  padding: 0.5em;
}

.btn-primary {
  width: 285px;
  height: 40px;
  text-transform: uppercase;
  background-color: var(--darkgreen);
  color: white;
  border: none;
  margin-left: 1.2em;
  cursor: pointer;
  font-weight: 600;
}

@media (min-width: 600px) {
  .contact-text {
    margin-top: 70px;
    font-size: 1.3em;
  }

  input {
    width: 380px;
  }

  textarea {
    width: 380px;
  }

  .btn-primary {
    width: 397px;
  }
}

@media (min-width: 900px) {
  .flex-contact-formular {
    display: flex;
    flex-direction: row;
  }

  input {
    width: 450px;
  }

  textarea {
    width: 949px;
    height: 80px;
  }

  .btn-primary {
    width: 967px;
    height: 40px;
    margin-top: 1.5em;
  }
}
/* -------------------- */

/* ---------- Styling af hardskills sektion ---------- */
.skills-section {
  margin-top: 6em;
  margin-bottom: 4em;
  padding: 0.3em 0 3.5em 0;
  background-color: var(--beige);
}

.sub-header {
  text-align: center;
  margin-bottom: 1em;
  margin-left: 18px;
  margin-right: 18px;
}

.skills-section-subheader {
  text-align: center;
  margin-bottom: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

.flex-text {
  float: left;
  padding-left: 20px;
  align-items: center;
}

.skills-icons {
  width: 70px;
}

.eachskillscontainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  height: 150px;
  max-width: 600px;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .skills-section {
    padding-bottom: 1em;
    margin-bottom: 6em;
  }

  .eachskillscontainer {
    justify-content: left;
  }
}
/* -------------------- */

/* ---------- About me section ---------- */
.aboutme-article {
  margin: 2em;
}

.aboutme-image {
  width: 100%;
  margin-bottom: 2em;
}

.aboutme-heading {
  color: var(--dark-brown);
  font-family: "Raleway-ExtraBold";
  font-size: 1.1em;
}

.aboutme-heading-white {
  font-family: "Raleway-ExtraBold";
  font-size: 1.1em;
  margin-bottom: 1em;
}

.experiences-container {
  width: 100%;
  background-color: var(--darkgreen);
}

.experiences-container-text {
  padding: 2em;
  text-align: center;
  margin-bottom: 4em;
  color: var(--white);
}

@media (min-width: 600px) {
  .aboutme-image {
    width: 350px;
    height: 350px;
    float: left;
    margin-right: 3em;
    box-shadow: 15px 20px;
    color: var(--darkgreen);
  }
}

@media (min-width: 900px) {
  .aboutme-article {
    margin: 3em;
  }

  .experiences-container-text {
    padding: 3.5em;
    margin-bottom: 6em;
  }
}

/* -------------------- */

/* ---------- Soft skills section ---------- */
.projects-header {
  margin-top: 30px;
}

.soft-skills-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  margin: 2em 4em 2em 4em;
}

.soft-skills-grid-container > article {
  text-align: center;
  padding: 2em 1.5em 2em 1.5em;
}

.soft-skills-grid-container > article img {
  height: 85px;
}

.soft-skills-grid-container > article ::first-letter {
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .soft-skills-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .soft-skills-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .soft-skills-grid-container > article {
    padding: 4em 1.5em 4em 1.5em;
  }

  .soft-skills-grid-container > article img {
    width: 90px;
  }
}
/* -------------------- */

/* ---------- ProjectsPage styling ---------- */
.second-article-section {
  background-color: var(--beige);
  height: 500px;
  height: 950px;
  margin-top: 150px;
  margin-bottom: 180px;
}

.projectpage-header {
  margin-left: 1.2em;
  padding-bottom: 0.7em;
  padding-top: 1.5em;
}

.projectpage-subheader {
  margin: 0 2em 4em 2em;
}

.project-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6em;
  margin-top: 6em;
}

.first-project-flex-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beige);
  padding: 3.5em 0 2em 0;
}

.project-flex-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beige);
  padding-bottom: 2em;
}

.project-text-container {
  background-color: var(--darkgreen);
  color: var(--white);
  width: 250px;
  height: auto;
  padding: 2em;
}

.projects-button {
  font-size: 0.9em;
  margin: 2em 0 0.5em 0;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--white);
  font-weight: 600;
}

.projects-button:hover {
  color: var(--dark-brown);
}

.macbook_iphone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.macbook {
  width: 300px;
  margin-top: 2em;
}

@media (min-width: 600px) {
  .project-text-container {
    width: 330px;
    height: auto;
  }
}

@media (min-width: 900px) {
  .projectpage-header {
    margin-left: 2.5em;
    padding-bottom: 0.7em;
    padding-top: 2em;
  }

  .projectpage-subheader {
    text-align: left;
    width: 60%;
    margin: 0 2em 3em 4em;
  }

  .second-article-section {
    height: 700px;
    margin-bottom: 100px;
  }

  .project-flex-container {
    flex-direction: row;
    justify-content: space-around;
    margin: 2em 6em 12em 6em;
  }

  .first-project-flex-container2 {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 2em 0 12em 0;
    padding: 4em 0 4em 0;
    height: 400px;
  }

  .project-flex-container2 {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 2em 0 12em 0;
    height: 400px;
  }

  .project-text-container {
    width: 450px;
    height: auto;
  }

  .macbook_iphone-container {
    display: flex;
    flex-direction: row;
  }

  .macbook {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .macbook {
    width: 450px;
  }
}
/* -------------------- */

/* ---------- Footer styling ---------- */
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.footer-text {
  color: var(--darkbrown);
  text-align: center;
  padding-top: 1.3em;
  padding-bottom: 1.1em;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.contactinfo-container {
  display: flex;
  justify-content: center;
  padding: 0.2em;
}

.contact-icons {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.some-icons-container {
  display: flex;
  justify-content: center;
}

.some-icons {
  width: 25px;
  padding: 0 0.5em 0 0.5em;
  margin-top: 1.5em;
}

@media (min-width: 600px) {
  .footer-text {
    font-size: 1.2rem;
  }
}
/* -------------------- */
